
<%= render :partial => "layouts/messages" %>

<% if @friend %>
	<div class="card card-header result-block">		
		<strong>First name:</strong><%= @friend.first_name %> &nbsp;
		<strong>Last name:</strong><%= @friend.last_name %> &nbsp; 
		<strong>e-mail:</strong><%= @friend.email %> &nbsp;

		<%if current_user.can_follow_friend?(@friend) %>
			<span class="badge badge-secondary">
				You are already following this user
			</span>
		<% else %>
			<%= link_to "Click to follow", follows_path(friend_id:@friend.id), method: :post, class:'btn btn-xs btn-default' %>
		<%end%>


	</div>		
<% end %>

