
<%= render :partial => "layouts/messages" %>

<% if @friends %>
	
	
	<div class="card card-header result-block">

		<table class="col-md-12">
			<tbody>
				<% @friends.each do |friend| %>	
					<tr>
						<td><strong>First name:</strong><%= friend.first_name %> &nbsp;&nbsp;</td>
						<td><strong>Last name:</strong><%= friend.last_name %> &nbsp;&nbsp;</td>
						<td><strong>e-mail:</strong><%= friend.email %> &nbsp;&nbsp;</td>
						<%if current_user.cant_follow_friend?(friend) %>

							<td>
							You are Firends
							</td>
							

						<% else %>
						<td>
						<%= link_to "Click to follow", follows_path(friend_id:friend.id), method: :post, class:'btn btn-xs btn-default follow-btn' %>
						</td>
						<% end %>
						<td>
						
						<%= link_to "View Profile", user_path(friend), class:'btn btn-xs btn-default follow-btn' %>

						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>


<% end %>

